@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --slate-100-50: rgba(241, 245, 249, 0.5);
    --slate-100: rgba(241, 245, 249, 1);
    --slate-700: rgba(51, 65, 85, 1);
    --slate-700-75: rgba(51, 65, 85, 0.75);
    --slate-600: rgba(71, 85, 105, 1);
    --yellow: rgb(186, 163, 31);
    --button-background: #154593;
    --button-background-selected: #103570;

    background-image: url("./assets/sky.jpg");
  }

  :root.dark {
    --slate-100-50: rgba(51, 65, 85, 0.5);
    --slate-100: rgba(51, 65, 85, 1);
    --slate-700: rgba(241, 245, 249, 1);
    --slate-700-75: rgba(241, 245, 249, 0.75);
    --slate-600: rgba(226, 232, 240, 1);
    --yellow: rgb(186, 163, 31);
    --button-background: rgba(51, 65, 85, 1);
    --button-background-selected: rgb(34, 43, 57);

    background-image: url("./assets/night.jpg");
  }
}

#root {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.dark-filter {
  filter: invert(100%) sepia(29%) saturate(789%) hue-rotate(174deg) brightness(93%) contrast(110%)
}

.light-filter {
  filter: invert(18%) sepia(59%) saturate(2752%) hue-rotate(213deg) brightness(88%) contrast(85%);
}

@layer utilities {
  .outline-input {
    outline: none;
  }
}